@import 'variables';

.alert {
  border: 1px solid;
  padding: 1em;
  border-radius: $border-radius;
  margin-top: 1em;
}

.alert-danger {
  background: $color-danger;
  color: #fff;
}

.alert-success {
  background: $color-success;
  color: #fff;
}
