@import 'variables';

.root {
  border: 1px solid;
  padding: 1em;
  border-radius: $border-radius;
  margin-top: 1em;
}

.danger {
  background: darken($color-danger, 30%);
  color: #fff;
}

.success {
  background: $color-success;
  color: #fff;
}
