@import './sass-utils';

$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';
$border-radius: 5px;
$color-danger: red;
$color-success: green;

html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  font-family: $font-family;
  padding: 1em;
}

.container {
  max-width: 40rem;
  margin: 0 auto;
}

.form-group {
  margin-top: 1em;
}

.form-control {
  font-family: $font-family;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: $border-radius;
  padding: 0.1875rem;
  width: 100%;
  margin-top: 0.25em;

  label {
    display: block;
  }

  &.is-invalid {
    border-color: $color-danger;
  }
}

.invalid-feedback {
  color: $color-danger;
}

.btn {
  font-size: 1rem;
  padding: 0.75rem;
  border-radius: $border-radius;
  background: indigo;
  border: 1px solid #333;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0);

  &:hover {
    box-shadow: inset 0 0 8px 5px rgba(255, 255, 255, 0.7);
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }

  & + .btn {
    margin-left: 0.5rem;
  }
}

.btn-danger {
  background: $color-danger;
  color: #fff;
}

.btn-secondary {
  background: #ccc;
  color: #000;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.alert {
  border: 1px solid;
  padding: 1em;
  border-radius: $border-radius;
  margin-top: 1em;
}

.alert-danger {
  background: $color-danger;
  color: #fff;
}

.alert-success {
  background: $color-success;
  color: #fff;
}

@include media('>tablet') {
  .form-group {
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-gap: 1em;
    label {
      text-align: right;
      padding-top: 5px;
    }
  }

  .form-control {
    width: auto;
  }

  .invalid-feedback {
    grid-column: 2;
  }
}
